* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #e5eaf5;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header Style*/
header {
  background-color: #232d85;
  color: #fff;
  padding: 1rem 0;
}

header h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #232d85;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

nav ul li a:hover {
  background-color: #4781ff;
  color: #fff;
  border-color: #4781ff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 2rem 0;
}

.form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input,
form select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

form button {
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #ff6347;
}

.welcome-container {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.welcome-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.welcome-container p {
  font-size: 1.2rem;
  color: #666;
}

/* Footer Styles */
footer {
  background-color: #232d85;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

a:hover {
  color: #ff6347;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}
